<app-page-layout
  title="Notificaciones"
  welcomeMessage="Aquí verás todas las actualizaciones del sistema"
  loadingMessage="Cargando notificaciones..."
  [state]="notificationsState"
  [refreshable]="true"
  [refreshing]="notificationsState === 'loading'"
  (refresh)="onRefresh()"
  icon="notifications"
  (retry)="loadAllNotifications()"
>
  @if (
    (notificationsState === "success" && readPaginatedNotifications) ||
    unreadPaginatedNotifications
  ) {
    <app-folder-tabs
      [tabs]="notificationTabs"
      [(activeTab)]="activeNotificationTab"
      [actionsTemplate]="
        unreadCount > 0 && activeNotificationTab === 'unread'
          ? notificationActions
          : undefined
      "
    >
      @switch (activeNotificationTab) {
        @case ("read") {
          @if (readPaginatedNotifications) {
            <app-notifications-list
              [paginatedNotifications]="readPaginatedNotifications"
              (markAsRead)="markAsRead($event)"
              (deleteNotification)="deleteNotification($event)"
              (pageChange)="onReadPageChange($event)"
              (pageSizeChange)="onReadPageSizeChange($event)"
            />
          }
        }

        @case ("unread") {
          @if (unreadPaginatedNotifications) {
            <app-notifications-list
              [paginatedNotifications]="unreadPaginatedNotifications"
              (markAsRead)="markAsRead($event)"
              (deleteNotification)="deleteNotification($event)"
              (pageChange)="onUnreadPageChange($event)"
              (pageSizeChange)="onUnreadPageSizeChange($event)"
            />
          }
        }
      }
    </app-folder-tabs>
  }
</app-page-layout>

<ng-template #notificationActions>
  <app-button
    size="sm"
    variant="outline"
    iconLeft="mark_email_read"
    (click)="markAllAsRead()"
  >
    Marcar todas como leídas
  </app-button>
</ng-template>
