<app-page-layout
  title="Adeudos"
  welcomeMessage="Aquí puedes gestionar los adeudos de la escuela."
  loadingMessage="Cargando adeudos..."
  icon="request_quote "
  [state]="debtsState"
  [refreshable]="true"
  [refreshing]="debtsState === 'loading'"
  (refresh)="onRefreshData()"
  (retry)="loadDebts()"
>
  <ng-template #debtsActions>
    @if (
      debtsState === "success" &&
      paginatedDebts &&
      paginatedDebts.data.items.length > 0
    ) {
      <app-filter-bar variant="embedded" (reset)="onResetFilters()">
        <span class="search-input"
          ><app-input
            placeholder="Buscar por CURP, email o número de control del estudiante"
            iconRight="search"
            [formControl]="searchControl"
            (iconRightClick)="onSearchData()"
            (keyup.enter)="onSearchData()"
            [fullWidth]="true"
          />
        </span>
        <app-button
          variant="ghost"
          size="sm"
          iconLeft="payments"
          (click)="openStripeSearchModal()"
        >
          Consultar pagos en la pasarela
        </app-button>
      </app-filter-bar>
    }
  </ng-template>

  @if (
    debtsState === "success" &&
    paginatedDebts &&
    paginatedDebts.data.items.length > 0
  ) {
    <app-folder-tabs
      [activeTab]="activeTab"
      [tabs]="debtsTabs"
      [actionsTemplate]="debtsActions"
    >
      <app-table
        [columns]="debtsColumns"
        [data]="paginatedDebts.data.items"
        [actionsTemplate]="actionsTemplate"
        noDataMessage="Sin historial disponible"
      ></app-table>
      <app-paginator
        [paginator]="paginatedDebts"
        (pageChange)="onPageChange($event)"
        (perPageChange)="onPageSizeChange($event)"
      >
      </app-paginator>
    </app-folder-tabs>
  } @else {
    <app-empty-state icon="receipt_long" message="No se encontraron adeudos" />
    <app-button
      variant="ghost"
      size="sm"
      iconLeft="payments"
      (click)="openStripeSearchModal()"
    >
      Consultar pagos en la pasarela
    </app-button>
  }

  <ng-template #actionsTemplate let-item>
    <div class="table-actions">
      <app-button
        variant="ghost"
        size="sm"
        iconLeft="payments"
        (click)="openStripeModal(item)"
      >
        Pasarela
      </app-button>
    </div>
  </ng-template>
</app-page-layout>
