<div class="stripe-payments">
  <app-spinner [loading]="stripeState === 'loading'" size="lg"></app-spinner>

  <div class="payment-card" *ngIf="stripeState === 'success' && currentPayment as item">

    <div class="payment-header">
      <h3>{{ item.concept_name }}</h3>
      <span class="status" [attr.data-status]="item.status">
          {{ item.paid ? 'Pagado' : 'No pagado' }}
      </span>
    </div>

    <div class="payment-body">

      <div class="row">
        <span class="label">Usuario</span>
        <span class="value mono">{{ item.customer_name }}</span>
      </div>

      <div class="row">
        <span class="label">Método de pago</span>
        <span class="value mono">{{ item.payment_method_type }}</span>
      </div>

      <div class="row">
        <span class="label">Fecha</span>
        <span class="value">{{ item.created | date:'medium' }}</span>
      </div>

      <div class="row highlight">
        <span class="label">Monto del concepto</span>
        <span class="value money">{{ item.amount | currency:'MXN' }}</span>
      </div>

      <div class="row highlight">
        <span class="label">Monto recibido</span>
        <span class="value money">{{ item.amount_received | currency:'MXN' }}</span>
      </div>

      <div class="row" *ngIf="item.receipt_url">
        <span class="label">Recibo</span>
        <app-anchor *ngIf="item.receipt_url"
          [link]="item.receipt_url"
          [external]="true"
          target="_blank"
          anchorMessage="Ver enlace de Stripe"
           >
        </app-anchor>
      </div>

      <div class="row">
        <app-button
        variant="ghost"
        (click)="onValidatePayment(item.user_id!, item.payment_id!)"
        >
          Validar pago
        </app-button>
      </div>

    </div>

    <div class="actions">
      <app-button
        variant="primary"
        [iconOnly]="true"
        iconLeft="chevron_left"
        (click)="prev()"
        [disabled]="currentIndex === 0">
      </app-button>

      <span class="counter">
        {{ currentIndex + 1 }} / {{ stripeList.length }}
      </span>

      <app-button
        variant="primary"
        [iconOnly]="true"
        iconLeft="chevron_right"
        (click)="next()"
        [disabled]="currentIndex === stripeList.length - 1">
      </app-button>
    </div>

  </div>
</div>
