<app-page-layout
  title="Historial de pagos"
  welcomeMessage="Aquí puedes ver el historial de pagos."
  loadingMessage="Cargando historial..."
  icon="payments"
  [state]="loading"
  (retry)="loadPaymentHistory()"
>
  @if (loading === "success" && paginatedHistory) {
    <app-record-list
      [items]="paginatedHistory.data.items"
      [itemTemplate]="paymentTemplate"
      (itemClick)="openDetails($event)"
    />

    @if (paginatedHistory.data.total > 0) {
      <app-paginator
        [paginator]="paginatedHistory"
        (pageChange)="onPageChange($event)"
        (perPageChange)="onPageSizeChange($event)"
      />
    }
  }
</app-page-layout>

<ng-template #paymentTemplate let-payment>
  <app-payment-history-item [payment]="payment"></app-payment-history-item>
</ng-template>
