<app-page-layout
  title="Dashboard"
  welcomeMessage="Bienvenido de nuevo"
  loadingMessage="Cargando resumen..."
  icon="dashboard"
  [state]="state"
>
  <app-dashboard-kpis
    [pendingSummary]="pendingSummary"
    [paidSummary]="paidSummary"
    [overdueSummary]="overdueSummary"
  ></app-dashboard-kpis>

  <app-dashboard-charts
    [pendingSummary]="pendingSummary"
    [paidSummary]="paidSummary"
    [overdueSummary]="overdueSummary"
  ></app-dashboard-charts>

  <app-dashboard-history
  [paymentHistory]="paymentHistory"
  />

</app-page-layout>
