<app-page-layout
  title="Detalles de pago"
  welcomeMessage="Información completa del pago seleccionado."
  loadingMessage="Cargando pago..."
  icon="arrow_back"
  (iconAction)="goBack()"
  [iconClickeable]="true"
  [state]="loading"
  (retry)="loadPayment()"
>
  @if (loading === 'success' && payment) {
    <app-folder-tabs
      [tabs]="paymentTabs"
      [(activeTab)]="activeTab"
    >
      @switch (activeTab) {
        @case ('summary') {
          <app-payment-summary
            [payment]="payment"
          />
        }

        @case ('method') {
          <app-payment-method
            [paymentMethod]="payment.payment_method_details"
          />
        }

        @case ('actions') {
          <app-payment-actions
            [payment]="payment"
            (receipt)="loadReceipt($event)"
          />
        }
      }
    </app-folder-tabs>
  }
</app-page-layout>
