<app-auth-layout
  title="SIGEF"
  subtitle="Recuperar contraseña"
  footerMessage="¿No necesitas recuperar contraseña?"
  [footerLink]="navHelper.login"
  footerAnchorMessage="Iniciar sesión"
  [hideForgotPassword]="true"
>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <app-input
      label="Email"
      type="email"
      placeholder="correo@ejemplo.com"
      iconRight="mail"
      formControlName="email">
    </app-input>

    <app-button
      iconLeft="login"
      [fullWidth]="true"
      type="submit"
      [loading]="loading"
      [disabled]="!form.valid || loading">
      Enviar
    </app-button>

  </form>



</app-auth-layout>
