<app-auth-layout
  title="SIGEF"
  subtitle="Regístrate en el sistema"
  footerMessage="¿Ya tienes cuenta?"
  [footerLink]="navHelper.login"
  footerAnchorMessage="Inicia sesión"
>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-stepper
      [steps]="steps"
      [currentStep]="currentStep"
      [canProceed]="isCurrentStepValid()"
      (nextStep)="currentStep = currentStep + 1"
      (prevStep)="currentStep = currentStep - 1"
      (completed)="submit()"
      [loading]="loading"
    >
      <div *ngIf="currentStep === 0">
        <app-personal-step [form]="form" />
      </div>

      <div *ngIf="currentStep === 1">
        <app-contact-step [form]="form" />
      </div>

      <div *ngIf="currentStep === 2">
        <app-address
          [control]="form.controls.address"
          [customErrors]="addressCustomErrors"
        ></app-address>
      </div>

      <div *ngIf="currentStep === 3">
        <app-security-step
          [form]="form"
          [passwordControl]="passwordControl"
          [confirmPasswordControl]="confirmPasswordControl"
        />
      </div>
    </app-stepper>
  </form>
</app-auth-layout>
