<div class="record-list">
  <div
    class="record-list-actions"
    *ngIf="listActionsTemplate && selectedItems?.length"
  >
    <ng-container
      *ngTemplateOutlet="
        listActionsTemplate;
        context: { $implicit: selectedItems }
      "
    >
    </ng-container>
  </div>

  @if (items.length > 0) {
    <div
      class="record"
      *ngFor="let item of items"
      [class.selected]="isSelected(item)"
    >
      <div
        class="record-select"
        *ngIf="selectionTemplate"
        (click)="$event.stopPropagation()"
      >
        <ng-container
          *ngTemplateOutlet="selectionTemplate; context: { $implicit: item }"
        >
        </ng-container>
      </div>

      <div class="record-body" (click)="onItemClicked(item)">
        <div class="record-image" *ngIf="imageTemplate">
          <ng-container
            *ngTemplateOutlet="imageTemplate; context: { $implicit: item }"
          >
          </ng-container>
        </div>

        <div class="record-content">
          <ng-container
            *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"
          >
          </ng-container>
        </div>
      </div>
    </div>
  } @else {
    <app-empty-state  icon="table_rows" message="No hay datos disponibles"></app-empty-state>
  }
</div>
