<app-page-layout
  [title]="userName || 'Detalles del Usuario'"
  welcomeMessage="Administra los detalles del usuario"
  loadingMessage="Cargando usuario..."
  icon="chevron_left"
  (iconAction)="onUsersNavigation()"
  [refreshable]="true"
  [refreshing]="state === 'loading'"
  (refresh)="onRefreshData()"
  [iconClickeable]="true"
  [state]="state"
  (retry)="loadUserDetails(userId!)"
>
   @if (state === 'success' && userDetails) {

    <app-folder-tabs
      [tabs]="userDetailTabs"
      [(activeTab)]="activeTab"
    >
      @switch (activeTab) {
        @case ('general') {
          <app-user-basic-info
            [basicInfo]="userDetails.basicInfo"
          />
        }

        @case ('address') {
          <app-user-address
            [userAddress]="userDetails.basicInfo.address"
          />
        }

        @case ('roles') {
          <app-user-roles
            [userRoles]="userDetails.roles"
            (edit)="onUpdateRoles()"
          />
        }

        @case ('permissions') {
          <app-user-permissions
            [userPermissions]="userDetails.permissions"
            [loading]="permissionsState === 'loading'"
            (edit)="onUpdatePermissions()"
          />
        }

        @case ('academic') {
          <app-user-academic-info
            [userStudentDetail]="userDetails.studentDetail"
            [loading]="studentDetailsState === 'loading'"
            (edit)="onManageStudentDetails()"
          />
        }
      }
    </app-folder-tabs>
  }
</app-page-layout>
