<app-page-layout
  title="Pagos"
  welcomeMessage="Aquí puedes gestionar los pagos de la escuela."
  loadingMessage="Cargando pagos..."
  icon="request_quote "
  [state]="state"
  [refreshable]="true"
  [refreshing]="state === 'loading'"
  (refresh)="onRefreshData()"
  (retry)="loadData()"
>
  <ng-template #actions>
    <app-filter-bar (reset)="onResetFilters()" variant="embedded">
      <span class="search-input">
        <app-input
          [placeholder]="placeholder"
          iconRight="search"
          [formControl]="searchControl"
          (iconRightClick)="onSearchData()"
          (keyup.enter)="onSearchData()"
        />
      </span>
    </app-filter-bar>
  </ng-template>
  <app-folder-tabs
    [tabs]="paymentTabs"
    [activeTab]="currentView"
    (activeTabChange)="onViewChange($event)"
    [actionsTemplate]="actions"
  >
    @switch (currentView) {
      @case (PaymentsView.Payments) {
        <app-payments-table [data]="paymentsData" />
      }

      @case (PaymentsView.ByConcept) {
        <app-payments-by-concept-table [data]="paymentsByConceptData" />
      }

      @case (PaymentsView.ByStudent) {
        <app-payments-by-student-table [data]="paymentsByStudentData" />
      }
    }

    @if (paginatedData) {
      <app-paginator
        [paginator]="paginatedData"
        (pageChange)="onPageChange($event)"
        (perPageChange)="onPageSizeChange($event)"
      />
    }
  </app-folder-tabs>
</app-page-layout>
