<app-desktop-sidebar
  [sideBarItems]="sideBarItems"
  [collapsed]="collapsed"
  [logoText]="logoText"
  [logoIcon]="logoIcon"
  [role]="role"
  [userName]="userName"
  [userAvatar]="userAvatar"
  [showUserInfo]="showUserInfo"
  [showRoleSelector]="showRoleSelector"
  [showChildrenSelector]="showChildrenSelector"
  (collapsedChange)="onCollapsedChange($event)"
  (changeRole)="changeRole.emit()"
  (selectChild)="selectChild.emit()"
></app-desktop-sidebar>


<app-mobile-sidebar
  [sideBarItems]="sideBarItems"
  [logoText]="logoText"
  [logoIcon]="logoIcon"
  [role]="role"
  [userName]="userName"
  [userAvatar]="userAvatar"
  [showRoleSelector]="showRoleSelector"
  [showChildrenSelector]="showChildrenSelector"
  (changeRole)="changeRole.emit()"
  (selectChild)="selectChild.emit()"
></app-mobile-sidebar>
