<app-metadata-card title="Cargo completado">
  <div metadata-body>
    <app-metadata-row label="ID del cargo" [value]="metadata.chargeId" />
    @if (metadata.conceptName) {
      <app-metadata-row label="Concepto" [value]="metadata.conceptName" />
    }
    <app-metadata-row
      label="Monto recibido"
      [value]="metadata.amountCaptured | currencyMXN"
    />
    <app-metadata-row
      label="Monto rechazado"
      [value]="metadata.amountRefunded | currencyMXN"
    />
    <app-metadata-row
      label="Método de pago"
      [value]="metadata.paymentMethodType"
    />
    @if (metadata.receiptUrl) {
      <app-metadata-link
        label="URL"
        text="Abrir enlace"
        [link]="metadata.receiptUrl"
      />
    }
  </div>
</app-metadata-card>
