<app-auth-layout
  title="SIGEF"
  subtitle="Recuperar contraseña"
  [hideForgotPassword]="true"
>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <app-input
      label="Email"
      type="email"
      placeholder="correo@ejemplo.com"
      iconRight="mail"
      formControlName="email"
      [readonly]="true"
      >
    </app-input>

    <app-password-input
        label="Password"
        placeholder="••••••••"
        [control]="passwordControl">
      </app-password-input>

      <app-password-input
        label="Confirmar password"
        placeholder="••••••••"
        [showStrength]="false"
        [control]="confirmPasswordControl">
      </app-password-input>

    <app-button
      iconLeft="update"
      [fullWidth]="true"
      type="submit"
      [loading]="loading"
      [disabled]="!form.valid || loading">
      Actualizar
    </app-button>

  </form>

</app-auth-layout>
