<app-page-layout
  title="Gestión de Usuarios"
  welcomeMessage="Administra los usuarios de tu institución"
  loadingMessage="Cargando usuarios..."
  icon="people"
  [state]="usersState"
  (retry)="loadUsers()"
  [refreshable]="true"
  [refreshing]="usersState === 'loading'"
  (refresh)="onRefreshData()"
>
  @if (usersState === "success" && paginatedUsers) {
    <app-folder-tabs
      [tabs]="userTabs"
      [activeTab]="activeUserTab"
      (activeTabChange)="onStatusTabChange($event)"
    >
      <app-record-list
        [items]="paginatedUsers.data.items"
        [itemTemplate]="userTemplate"
        [imageTemplate]="avatarTemplate"
        [selectionTemplate]="selectionTemplate"
        [selectedItems]="selectedUsers"
        [listActionsTemplate]="listActionsTemplate"
        [trackByKey]="'id'"
        (itemClick)="onClickUser($event)"
      />

      <app-paginator
        [paginator]="paginatedUsers"
        (pageChange)="onPageChange($event)"
        (perPageChange)="onPageSizeChange($event)"
      />
    </app-folder-tabs>
  }

  <app-spinner
    [loading]="changeStatusState === 'loading'"
    [fullScreen]="true"
  />
</app-page-layout>

<ng-template #userTemplate let-user>
  <app-user-record [user]="user"></app-user-record>
</ng-template>

<ng-template #avatarTemplate let-user>
  <app-user-avatar [name]="user.fullName"></app-user-avatar>
</ng-template>

<ng-template #selectionTemplate let-user>
  <app-checkbox
    [ngModel]="isSelected(user)"
    (ngModelChange)="toggleUser(user)"
  ></app-checkbox>
</ng-template>

<ng-template #listActionsTemplate let-selected>
  <app-user-bulk-actions
    [selected]="selected"
    [totalItems]="paginatedUsers?.currentItemsCount ?? 0"
    (toggleAll)="toggleAll($event)"
    (delete)="onDeleteSelected()"
    (activate)="onActivateSelected()"
    (disable)="onDisableSelected()"
    (temporaryDisable)="onTemporaryDisableSelected()"
    (updateRoles)="onUpdateRolesSelected()"
    (updatePermissions)="onUpdatePermissionsSelected()"
    (promoteStudents)="onPromoteStudents()"
  />
</ng-template>
